.page{
    &.contact{
        .contact-us{
            .contact-form, .contact-info{
                .heading-title{
                    font-size: 35px;
                    font-weight: 500;
                    border-bottom: 2px solid $gray2;
                    padding-bottom: 7px;
                    margin-bottom: 50px;
                    &:after{
                        content: '';
                        background-color: $theme;
                        height: 2px;
                        width: 120px;
                        display: block;
                        position: relative;
                        top: 9px;
                    }
                }
            }
            .contact-form{
                .form-group{
                    input{
                        &.form-control{
                            height: 42px;
                        }
                    }
                }
            }
            .contact-info{
                margin-left: 20px;
                .each{
                    display: flex;
                    margin-bottom: 20px;
                    .icon{
                        margin-right: 20px;
                        i{
                            font-size: 30px;
                        }
                    }
                    .title{
                        font-size: 18px;
                        font-weight: 500;
                        margin-bottom: 10px;
                    }
                    .sub-title{
                        font-size: 14px;
                        color: $gray-4;
                    }
                }
            }
        }
        .map{
            padding-bottom: 0;
            iframe{
                margin-bottom: -9px;
            }
        }
    }
}
