.page{
    &.home{
        .hero-slider{
            .hero{
                padding: 150px 0;
                .content{
                    width: 45%;
                    text-align: center;
                    .title{
                        font-size: 70px;
                        color: $black-2e;
                        font-weight: 700;
                        line-height: 1.3;
                    }
                    .desc{
                        margin: 10px 0 40px;
                        font-size: 20px;
                    }
                }
            }
            &:hover{
                .swiper-button-prev, .swiper-button-next{
                    transition: all .4s ease;
                    opacity: 1;
                    visibility: visible;
                    pointer-events: initial;
                }
            }
            .swiper-button-prev, .swiper-button-next{
                color: $black-2;
                background-color: $white-2;
                width: 44px;
                opacity: 0;
                visibility: hidden;
                pointer-events: none;
                transition: all .4s ease;
                &:hover{
                    transition: all .4s ease;
                    color: $theme;
                }
                &:after{
                    font-size: 20px;
                }
            }
            .swiper-button-prev,{
                left: 30px;
            }
            .swiper-button-prev,{
                right: 30px;
            }
        }
        .feature{
            .content{
                .item{
                    display: flex;
                    align-items: center;
                    .text{
                        margin-left: 25px;
                        .title{
                            font-size: 20px;
                        }
                        .desc{
                            content: $black-2e;
                            font-size: 14px;
                            margin-top: 5px;
                        }
                    }
                }
            }
        }
        .discount{
            .item{
                position: relative;
                overflow: hidden;
                &:hover{
                    .img{
                        img{
                            transition: all .4s;
                            transform: scale(1.1);
                        }
                    }
                    .btn-theme{
                        background-color: $black-2;
                        transition: all .4s;
                        color: $white;
                    }
                }
                .img{
                    img{
                        transition: all .4s;
                    }
                }
                .info{
                    position: absolute;
                    top: calc(50% - 63px);
                    left: 30px;
                    .sub-title{
                        color: $black-6e;
                        font-size: 18px;
                        span{
                            color: $theme;
                        }
                    }
                    .title{
                        font-size: 24px;
                        font-weight: 600;
                        color: $black-2e;
                        margin: 15px 0 20px;
                    }
                    .btn-theme{
                        padding: 5px 10px;
                        font-size: 14px;
                    }
                }
            }
        }
        .product-tabs{
            .tab-buttons{
                text-align: center;
                border-bottom: 2px solid $gray2;
                padding-bottom: 10px;
                .nav-pills{
                    justify-content: center;
                    padding-left: 0;
                    .nav-link{
                        display: inline-block;
                        text-decoration: none;
                        color: $black-2e;
                        font-size: 18px;
                        margin: 0 20px;
                        transition: all .4s;
                        position: relative;
                        padding: 0;
                        &.active{
                            transition: all .4s;
                            color: $theme;
                            background-color: $white;
                            &:after{
                                transition: all .4s;
                                width: 100%;
                            }
                        }
                        &:hover{
                            transition: all .4s;
                            color: $theme;
                            &:after{
                                transition: all .4s;
                                width: 100%;
                            }
                        }
                        &:after{
                            transition: all .4s;
                            content: '';
                            width: 0;
                            height: 2px;
                            display: block;
                            background-color: $theme;
                            position: absolute;
                            top: 37px;
                        }
                    }
                }
            }
            .tab-content{
                margin-top: 30px;
                .products{
                    .swiper{
                        &:hover{
                            .swiper-button-prev, .swiper-button-next{
                                transition: all .4s ease;
                                opacity: 1;
                                visibility: visible;
                                pointer-events: initial;
                            }
                        }
                        .swiper-button-prev, .swiper-button-next{
                            color: $black-2;
                            background-color: $white-2;
                            width: 30px;
                            height: 30px;
                            opacity: 0;
                            visibility: hidden;
                            pointer-events: none;
                            transition: all .4s ease;
                            border-radius: 50%;
                            &:hover{
                                transition: all .4s ease;
                                color: $theme;
                                background-color: $theme;
                                &:after{
                                    color: $white;
                                }
                            }
                            &:after{
                                font-size: 14px;
                                font-weight: 600;
                                color: $gray-4;
                            }
                        }
                        .swiper-button-prev{
                            left: 30px;
                            top: 48%;
                        }
                        .swiper-button-next{
                            right: 30px;
                            top: 48%;
                        }
                        .swiper-slide-active{
                            .product{
                                border-left: none;
                            }
                        }
                        .product{
                            text-align: center;
                            border-left: 1px solid $gray2;
                            margin-bottom: 50px;
                            position: relative;
                            &:before{
                                display: block;
                                background-color: $theme-2;
                                color: $white;
                                font-weight: 600;
                                padding: 0px 8px;
                                position: absolute;
                                left: 30px;
                                top: 0;
                                z-index: 1;
                            }
                            &.new{
                                &:before{
                                    content: 'New';
                                }
                            }
                            &.sold{
                                &:before{
                                    content: 'sold';
                                }
                            }
                            &:hover{
                                .img{
                                    .first-img{
                                        transition: all .4s ease;
                                        opacity: 0;
                                    }
                                    .second-img{
                                        transition: all .4s ease;
                                        opacity: 1;
                                        transform: scale(1.1);
                                    }
                                    .actions{
                                        transition: all .4s;
                                        visibility: visible;
                                        opacity: 1;
                                        pointer-events: initial;
                                        top: 0;
                                    }
                                }
                            }
                            .img{
                                display: block;
                                position: relative;
                                overflow: hidden;
                                .second-img{
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    opacity: 0;
                                }
                                img{
                                    transition: all .4s ease;
                                }
                                .actions{
                                    position: absolute;
                                    top: 10px;
                                    right: 20px;
                                    visibility: hidden;
                                    opacity: 0;
                                    pointer-events: none;
                                    transition: all .4s;
                                    .action{
                                        background-color: $gray3;
                                        border-radius: 50%;
                                        height: 40px;
                                        width: 40px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        color: $black-2e;
                                        transition: all .4s;
                                        margin-bottom: 10px;
                                        text-decoration: none;

                                        &:hover{
                                            transition: all .4s;
                                            background-color: $theme;
                                            color: $white;
                                        }
                                        i{
                                            font-size: 20px;
                                            font-weight: bold;
                                        }
                                    }
                                }
                            }
                            .category{
                                font-size: 14px;
                                color: $black-2;
                                margin-top: 10px;
                                display: block;
                                text-decoration: none;
                            }
                            .title{
                                color: $black-2e;
                                font-weight: 600;
                                transition: all .4s;
                                margin-top: 10px;
                                display: block;
                                text-decoration: none;
                                &:hover{
                                    transition: all .4s;
                                    color: $theme;
                                }
                            }
                            .rating{
                                margin: 15px 0;
                                i{
                                    font-size: 12px;
                                    color: $black-2;
                                }
                                .star{
                                    font-size: 12px;
                                    color: $black-9;
                                }
                            }
                            .price{
                                margin-bottom: 15px;
                                .new{
                                    color: $theme;
                                    font-size: 15px;
                                    font-weight: 600;
                                    margin-right: 10px;
                                }
                                .old{
                                    font-size: 14px;
                                    color: $black-9;
                                    text-decoration: line-through;
                                }
                            }
                            .cart-btn{
                                border: 1px solid $black-2e;
                                background-color: transparent;
                                text-transform: uppercase;
                                border-radius: 8px;
                                padding: 7px 10px;
                                font-size: 14px;
                                transition: all .4s;
                                &:hover{
                                    transition: all .4s;
                                    background-color: $theme-1;
                                    color: $white;
                                    border: 1px solid $theme-1;
                                }
                            }
                        }
                    }
                }
            }
        }
        .offer{
            .banner{
                overflow: hidden;
                img{
                    transform: scale(1);
                    transition: all .4s;
                    &:hover{
                        transition: all .4s;
                        transform: scale(1.1);
                    }
                }
            }
        }
        .product-list{
            .item{
                position: relative;
                .header{
                    .title{
                        font-size: 24px;
                        color: $black-2e;
                        padding-bottom: 15px;
                        border-bottom: 2px solid $gray3;
                        text-transform: capitalize;
                        line-height: 1;
                        position: relative;
                        &:after{
                            content: '';
                            background-color: $theme;
                            height: 2px;
                            width: 80px;
                            display: block;
                            position: absolute;
                            top: 39px;
                        }
                    }
                }
                .swiper{
                    position: static;
                    .swiper-button-prev, .swiper-button-next{
                        color: $black-2;
                        background-color: $gray;
                        width: 28px;
                        height: 28px;
                        opacity: 1;
                        visibility: visible;
                        transition: all .4s ease;
                        border-radius: 50%;
                        &:hover{
                            transition: all .4s ease;
                            color: $theme;
                            background-color: $theme;
                            &:after{
                                color: $white;
                            }
                        }
                        &:after{
                            font-size: 13px;
                            font-weight: 500;
                            color: $gray-4;
                        }
                    }
                    .swiper-button-prev{
                        left: 351px;
                        top: 20px;
                    }
                    .swiper-button-next{
                        right: 0;
                        top: 20px;
                    }
                    .swiper-slide-active{
                        .product{
                            border-right: 1px solid $gray2;
                        }
                    }
                    .products{
                        padding-top: 10px;
                        .each{
                            display: flex;
                            align-items: center;
                            margin: 40px 0;
                            .img{
                                position: relative;
                                overflow: hidden;
                                &:hover{
                                    .first-img{
                                    transition: all .4s ease;
                                        opacity: 0;
                                    }
                                    .second-img{
                                    transition: all .4s ease;
                                        opacity: 1;
                                        transform: scale(1.1);
                                    }
                                }
                                .second-img{
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    opacity: 0;
                                }
                                img{
                                    transition: all .4s ease;
                                }
                            }
                            .info{
                                margin-left: 20px;
                                .title{
                                    color: $black-2;
                                    transition: all .4s;
                                    text-decoration: none;
                                    &:hover{
                                        transition: all .4s;
                                        color: $theme;
                                    }
                                }
                                .price{
                                    color: $theme;
                                    margin: 10px 0;
                                    span{
                                        color: $black-9;
                                        text-decoration: line-through;
                                    }
                                }
                                .rating{
                                    span{
                                        font-size: 12px;
                                    }
                                    .star{
                                        font-size: 12px;
                                        color: $black-9;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .feature-product{
            .product{
                position: relative;
                overflow: hidden;
                &:hover{
                    .img{
                        img{
                            transition: all .4s;
                            transform: scale(1.1);
                        }
                    }
                    .btn-theme{
                        background-color: $theme-1!important;
                        transition: all .4s;
                        color: $white;
                    }
                }
                .img{
                    img{
                        transition: all .4s;
                    }
                }
                .info{
                    position: absolute;
                    top: calc(50% - 83px);
                    left: 30px;
                    .sub-title{
                        color: $black-6e;
                        font-size: 18px;
                        line-height: 1;
                        span{
                            color: $theme;
                        }
                    }
                    .title{
                        font-size: 24px;
                        font-weight: 600;
                        color: $black-2e;
                        margin: 15px 0 20px;
                        line-height: 1.3;
                    }
                    .btn-theme{
                        padding: 5px 10px;
                        font-size: 14px;
                        background-color: $black-2;
                        transition: all .4s;
                        color: $white;
                    }
                }
            }
        }
        .daily-deals{
            .header{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-bottom: 8px;
                border-bottom: 2px solid $gray2;
                .header-title{
                    font-size: 30px;
                    font-weight: 500;
                }
                .tab-buttons{
                    .nav-item{
                        &:last-child{
                            .nav-link{
                                margin-right: 0;
                            }
                        }
                    }
                    .nav-link{
                        display: inline-block;
                        color: $black-2e;
                        font-size: 18px;
                        text-decoration: none;
                        margin-right: 15px;
                        position: relative;
                        transition: all .4s ease;
                        padding: 0;
                        &:before{
                            content: '';
                            width: 0;
                            height: 2px;
                            background-color: $theme;
                            position: absolute;
                            left: 0;
                            bottom: -19px;
                            display: block;
                            transition: all .4s ease;
                        }
                        &:hover, &.active{
                            transition: all .4s ease;
                            color: $theme;
                            background-color: $white;
                            &:before{
                                transition: all .4s ease;
                                width: 100%;
                            }
                        }
                    }
                }
            }

            .tab-content{
                .products{
                    margin-top: 40px;
                    .swiper{
                        &:hover{
                            .swiper-button-prev, .swiper-button-next{
                                transition: all .4s ease;
                                opacity: 1;
                                visibility: visible;
                                pointer-events: initial;
                            }
                        }
                        .swiper-button-prev, .swiper-button-next{
                            color: $black-2;
                            background-color: $white-2;
                            width: 30px;
                            height: 30px;
                            opacity: 0;
                            visibility: hidden;
                            pointer-events: none;
                            transition: all .4s ease;
                            border-radius: 50%;
                            &:hover{
                                transition: all .4s ease;
                                color: $theme;
                                background-color: $theme;
                                &:after{
                                    color: $white;
                                }
                            }
                            &:after{
                                font-size: 14px;
                                font-weight: 600;
                                color: $gray-4;
                            }
                        }
                        .swiper-button-prev,{
                            left: 30px;
                        }
                        .swiper-button-prev,{
                            right: 30px;
                        }
                        .swiper-slide{
                            &:first-child{
                            }
                        }
                        .swiper-slide-active{
                            .product{
                                border-right: 1px solid $gray2;
                                .thumbnail{
                                    position: relative;
                                    &:before{
                                        content: "-30%";
                                        display: block;
                                        background-color: #FF2F2F;
                                        color: #ffffff;
                                        font-weight: 600;
                                        padding: 0px 8px;
                                        position: absolute;
                                        left: 16px;
                                        top: 20px;
                                        z-index: 1;
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                        .product{
                            display: flex;
                            .content{
                                .alert-title{
                                    color: $blue;
                                    text-transform: uppercase;
                                    margin-bottom: 20px;
                                }
                                .clock{
                                    display: flex;
                                    .day, .hour, .min, .sec{
                                        background-color: $white-3;
                                        padding: 12px 20px;
                                        border-radius: 12px;
                                        border: 1px solid $gray2;
                                        margin-right: 10px;
                                        text-align: center;
                                        .number{
                                            font-size: 20px;
                                            margin-bottom: 5px;
                                        }
                                        .text{
                                            font-size: 14px;
                                            color: $black-9;
                                        }
                                    }
                                }
                                .category{
                                    font-size: 14px;
                                    color: $black-2;
                                    margin-top: 15px;
                                    display: block;
                                    text-decoration: none;
                                    text-transform: uppercase;
                                }
                                .title{
                                    color: $black-2e;
                                    font-weight: 600;
                                    transition: all .4s;
                                    margin-top: 10px;
                                    display: block;
                                    text-decoration: none;
                                    &:hover{
                                        transition: all .4s;
                                        color: $theme;
                                    }
                                }
                                .rating{
                                    margin: 15px 0;
                                    i{
                                        font-size: 12px;
                                        color: $black-2;
                                    }
                                    .star{
                                        font-size: 12px;
                                        color: $black-9;
                                    }
                                }
                                .price{
                                    margin-bottom: 15px;
                                    .new{
                                        color: $theme;
                                        font-size: 15px;
                                        font-weight: 600;
                                        margin-right: 10px;
                                    }
                                    .old{
                                        font-size: 14px;
                                        color: $black-9;
                                        text-decoration: line-through;
                                    }
                                }
                                .cart-btn{
                                    border: 1px solid $black-2e;
                                    background-color: transparent;
                                    text-transform: uppercase;
                                    border-radius: 8px;
                                    padding: 7px 10px;
                                    font-size: 14px;
                                    transition: all .4s;
                                    &:hover{
                                        transition: all .4s;
                                        background-color: $theme;
                                        color: $white;
                                        border: 1px solid $white;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .brand{
            .brand-slider{
                .img{
                    display: inline-block;
                    &:hover{
                        img{
                            transition: all .4s;
                            transform: scale(1);
                        }
                    }
                    img{
                        transition: all .4s;
                        transform: scale(.8);
                        cursor: pointer;
                    }
                }
            }
        }
        .blog{
            .heading-title{
                font-size: 30px;
                font-weight: 500;
                padding-bottom: 10px;
                border-bottom: 1px solid $gray2;
                margin-bottom: 40px;
            }
            .single-blog{
                .btn-theme{
                    background-color: $black-2e;
                    &:hover{
                        background-color: $theme-1;
                    }
                }
            }
        }
    }
}
