.page {
    &.products {
        .product-section {
            .filter-section {
                padding: 10px 20px;
                border: 1px solid $gray2;
                font-size: 14px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                margin-bottom: 40px;
                .right{
                    display: flex;
                    align-items: center;
                    .filter-by-number, .sorting-product{
                        margin-right: 20px;
                        padding: 7px 30px 7px 20px;
                        border: 1px solid $gray2;
                        cursor: pointer;
                        position: relative;
                        transition: all .4s ease;
                        &.active{
                            transition: all .4s ease;
                            border: 1px solid $theme;
                        }
                        &:after{
                            border-bottom: 2px solid #999;
                            border-right: 2px solid #999;
                            content: '';
                            display: block;
                            height: 5px;
                            margin-top: -4px;
                            pointer-events: none;
                            position: absolute;
                            right: 12px;
                            top: 50%;
                            transform-origin: 66% 66%;
                            transform: rotate(45deg);
                            transition: all 0.15s ease-in-out;
                            width: 5px;
                        }
                        .dropdown{
                            position: absolute;
                            top: 110%;
                            left: 0;
                            width: 200px;
                            list-style: none;
                            padding: 7px 0;
                            margin-bottom: 0;
                            visibility: hidden;
                            opacity: 0;
                            transform: translateY(10px);
                            box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
                            background-color: $white;
                            z-index: 999;
                            transition: all .4s ease;
                            &.active{
                                transition: all .4s ease;
                                visibility: visible;
                                opacity: 1;
                                transform: translateY(0);
                            }
                            li{
                                display: block;
                                a{
                                    display: block;
                                    text-decoration: none;
                                    color: $gray-5;
                                    padding: 8px 15px;
                                    transform: translateX(0);
                                    transition: all .4s ease;
                                    &:hover{
                                        transition: all .4s ease;
                                        transform: translateX(5px);
                                        color: $theme;
                                    }
                                    &.active{
                                        font-weight: 600;
                                    }
                                }
                            }
                        }
                    }
                    .grid-options{
                        display: flex;
                        align-items: center;
                        .grid-col, .grid-row{
                            padding: 7px 10px;
                            border: 1px solid $gray2;
                            line-height: 7px;
                            cursor: pointer;
                            &.active{
                                transition: all .4s ease;
                                border: 1px solid $theme-1;
                                i{
                                    transition: all .4s ease;
                                    color: $theme-1;
                                }
                            }
                            i{
                                transition: all .4s ease;
                                font-size: 20px;
                            }
                        }
                        .grid-col{
                            margin-right: 20px;
                        }
                    }
                }
            }
            .product-items{
                min-height: 465px;
                .product-row{
                    display: none;
                    &.active{
                        display: block;
                    }
                    .each{
                        &:nth-child(4n+1){
                            .product{
                                border: none;
                            }
                        }
                        .product{
                            text-align: center;
                            border-left: 1px solid $gray2;
                            margin-bottom: 30px;
                            position: relative;
                            &:hover{
                                .img{
                                    .first-img{
                                        transition: all .4s ease;
                                        opacity: 0;
                                    }
                                    .second-img{
                                        transition: all .4s ease;
                                        opacity: 1;
                                        transform: scale(1.1);
                                    }
                                    .actions{
                                        transition: all .4s;
                                        visibility: visible;
                                        opacity: 1;
                                        pointer-events: initial;
                                        top: 0;
                                    }
                                }
                            }
                            .img{
                                display: block;
                                position: relative;
                                overflow: hidden;
                                .second-img{
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    opacity: 0;
                                }
                                img{
                                    transition: all .4s ease;
                                }
                                .actions{
                                    position: absolute;
                                    top: 10px;
                                    right: 20px;
                                    visibility: hidden;
                                    opacity: 0;
                                    pointer-events: none;
                                    transition: all .4s;
                                    .action{
                                        background-color: $gray3;
                                        border-radius: 50%;
                                        height: 40px;
                                        width: 40px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        color: $black-2e;
                                        transition: all .4s;
                                        margin-bottom: 10px;
                                        text-decoration: none;

                                        &:hover{
                                            transition: all .4s;
                                            background-color: $theme;
                                            color: $white;
                                        }
                                        i{
                                            font-size: 20px;
                                            font-weight: bold;
                                        }
                                    }
                                }
                            }
                            .category{
                                font-size: 14px;
                                color: $black-2;
                                margin-top: 10px;
                                display: block;
                                text-decoration: none;
                            }
                            .title{
                                color: $black-2e;
                                font-weight: 600;
                                transition: all .4s;
                                margin-top: 10px;
                                display: block;
                                text-decoration: none;
                                &:hover{
                                    transition: all .4s;
                                    color: $theme;
                                }
                            }
                            .rating{
                                margin: 15px 0;
                                i{
                                    font-size: 14px;
                                    color: $black-2;
                                }
                                .star{
                                    color: $black-9;
                                }
                            }
                            .price{
                                color: $theme;
                                font-weight: 600;
                                margin-bottom: 15px;
                                span{
                                    font-weight: 300;
                                    display: inline-block;
                                    text-decoration: line-through;
                                    color: $black-9;
                                }
                            }
                            .cart-btn{
                                border: 1px solid $black-2e;
                                background-color: transparent;
                                text-transform: uppercase;
                                border-radius: 8px;
                                padding: 7px 10px;
                                font-size: 14px;
                                transition: all .4s;
                                &:hover{
                                    transition: all .4s;
                                    background-color: $theme;
                                    color: $white;
                                    border: 1px solid $white;
                                }
                            }
                        }
                    }
                }
                .product-col{
                    display: none;
                    &.active{
                        display: block;
                    }
                    .product{
                        border-bottom: 1px solid $gray2;
                        margin-bottom: 30px;
                        position: relative;
                        padding: 30px 0;
                        &:last-child{
                            border-bottom: none;
                        }
                        &:hover{
                            .img{
                                .first-img{
                                    transition: all .4s ease;
                                    opacity: 0;
                                }
                                .second-img{
                                    transition: all .4s ease;
                                    opacity: 1;
                                    transform: scale(1.3);
                                }
                                .action{
                                    transition: all .4s;
                                    visibility: visible;
                                    opacity: 1;
                                    pointer-events: initial;
                                }
                            }
                        }

                        .img{
                            position: relative;
                            overflow: hidden;
                            display: inline-block;
                            .second-img{
                                position: absolute;
                                top: 0;
                                left: 0;
                                opacity: 0;
                            }
                            img{
                                transition: all .4s ease;
                            }
                            .action{
                                background-color: $gray3;
                                border-radius: 50%;
                                height: 40px;
                                width: 40px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                color: $black-2e;
                                transition: all .4s;
                                margin-bottom: 10px;
                                text-decoration: none;
                                position: absolute;
                                top: calc(50% - 20px);
                                left: calc(50% - 20px);
                                visibility: hidden;
                                opacity: 0;
                                pointer-events: none;
                                transition: all .4s;
                                &:hover{
                                    transition: all .4s;
                                    background-color: $theme;
                                    color: $white;
                                }
                                i{
                                    font-size: 20px;
                                    font-weight: bold;
                                }
                            }
                        }
                        .content{
                            .category{
                                font-size: 14px;
                                color: $black-2;
                                display: block;
                                text-decoration: none;
                            }
                            .title{
                                color: $black-2e;
                                font-weight: 600;
                                transition: all .4s;
                                margin-top: 10px;
                                display: block;
                                text-decoration: none;
                                font-size: 18px;
                                &:hover{
                                    transition: all .4s;
                                    color: $theme;
                                }
                            }
                            .rating{
                                margin: 15px 0 10px;
                                font-size: 12px;
                                i{
                                    color: $black-2;
                                }
                                .star{
                                    color: $black-9;
                                }
                            }
                            .desc{
                                font-size: 14px;
                                line-height: 1.8;
                                margin-bottom: 10px;
                                color: $gray-5;
                            }
                            .price{
                                color: $theme;
                                font-weight: 600;
                                margin-bottom: 15px;
                                span{
                                    font-weight: 300;
                                    display: inline-block;
                                    text-decoration: line-through;
                                    color: $black-9;
                                }
                            }
                            .desc{
                                width: 80%;
                            }
                            .btn-group{
                                .btn{
                                    margin-right: 10px;
                                }
                                .wishlist-btn, .compare-btn, .cart-btn{
                                    border: 1px solid $black-2e;
                                    background-color: transparent;
                                    text-transform: uppercase;
                                    border-radius: 8px;
                                    padding: 7px 10px;
                                    font-size: 14px;
                                    transition: all .4s;
                                    &:hover{
                                        transition: all .4s;
                                        background-color: $theme;
                                        color: $white;
                                        border: 1px solid $theme;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .pagination-wrapper{
                padding: 10px 20px;
                border: 1px solid $gray2;
                font-size: 14px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                margin-top: 30px;
                .page-filter{
                    padding: 7px 30px 7px 20px;
                    border: 1px solid $gray2;
                    cursor: pointer;
                    position: relative;
                    transition: all .4s ease;
                    &.active{
                        transition: all .4s ease;
                        border: 1px solid $black-9;
                    }
                    &:after{
                        border-bottom: 2px solid #999;
                        border-right: 2px solid #999;
                        content: '';
                        display: block;
                        height: 5px;
                        margin-top: -4px;
                        pointer-events: none;
                        position: absolute;
                        right: 12px;
                        top: 50%;
                        transform-origin: 66% 66%;
                        transform: rotate(45deg);
                        transition: all 0.15s ease-in-out;
                        width: 5px;
                    }
                    .dropdown{
                        position: absolute;
                        top: 110%;
                        left: 0;
                        width: 200px;
                        list-style: none;
                        padding-left: 0;
                        margin-bottom: 0;
                        visibility: hidden;
                        opacity: 0;
                        transform: translateY(10px);
                        box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
                        background-color: $white;
                        z-index: 999;
                        transition: all .4s ease;
                        &.active{
                            transition: all .4s ease;
                            visibility: visible;
                            opacity: 1;
                            transform: translateY(0);
                        }
                        li{
                            display: block;
                            a{
                                display: inline-block;
                                text-decoration: none;
                                color: $gray-5;
                                padding: 12px 15px;
                                display: block;
                                transition: all .4s ease;
                                &:hover{
                                    transition: all .4s ease;
                                    background-color: #f6f6f6;
                                }
                                &.active{
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                }
                .pagination-content{
                    padding: 0;
                    border-top: none;
                }
            }
        }
        #ProductModal{
            .modal-content{
                padding: 30px;
                overflow-x: hidden;
                .modal-body{
                    padding: 0;
                    .content{
                        .left{
                            border: 1px solid $gray2;
                            .img{
                                img{
                                    height: 552px;
                                    width: 552px;
                                }
                            }
                            .swiper-button-prev, .swiper-button-next{
                                color: $black-2;
                                background-color: $white-2;
                                width: 30px;
                                height: 30px;
                                border-radius: 50%;
                                transition: all .4s ease;
                                &:after{
                                    font-size: 14px;
                                }
                                &:hover{
                                    transition: all .4s ease;
                                    color: $theme;
                                }
                            }
                        }
                        .right{
                            max-height: 560px;
                            overflow: auto;
                            .model{
                                font-size: 14px;
                                color: $gray-5;
                                margin-top: 10px;
                                display: block;
                                text-decoration: none;
                            }
                            .title{
                                font-size: 24px;
                                font-weight: 500;
                                margin-bottom: 15px;
                            }
                            .rating{
                                margin: 15px 0;
                                i{
                                    font-size: 12px;
                                    color: $black-2;
                                }
                                .star{
                                    color: $black-9;
                                    font-size: 12px;
                                }
                            }
                            .price{
                                margin-bottom: 15px;
                                font-size: 18px;
                                .new{
                                    color: $theme;
                                    font-weight: 600;
                                    margin-right: 10px;
                                }
                                .old{
                                    color: $gray-5;
                                    text-decoration: line-through;
                                }
                            }
                            .desc{
                                color: $gray-8;
                                margin: 20px 0;
                                font-size: 14px;
                            }
                            .size, .type{
                                a{
                                    text-decoration: none;
                                    color: $black-2e;
                                    font-weight: 600;
                                    margin-left: 7px;
                                }
                            }
                            .colors{
                                margin: 20px 0;
                                .color{
                                    height: 20px;
                                    width: 20px;
                                    border: 2px solid transparent;
                                    display: inline-block;
                                    margin-right: 7px;
                                    transition: all .4s ease;
                                    &:hover{
                                        transition: all .4s ease;
                                        border: 2px solid $black-2;
                                    }
                                }
                            }
                            .quantity{
                                margin-top: 20px;
                                display: flex;
                                .inc, .dec, .form-control{
                                    height: 42px;
                                    border: 1px solid $gray2;
                                }
                                .inc, .dec{
                                    width: 40px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    text-decoration: none;
                                    font-weight: 600;
                                    color: $black-2e;
                                }
                                .form-control{
                                    width: 80px;
                                    border-radius: 0;
                                    text-align: center;
                                    box-shadow: none;
                                }
                            }
                            .btn-group{
                                margin: 30px 0;
                                .cart-btn{
                                    border: 1px solid $black-2e;
                                    background-color: transparent;
                                    border-radius: 4px;
                                    padding: 10px 20px;
                                    transition: all .4s;
                                    &:hover{
                                        transition: all .4s;
                                        background-color: $theme-1;
                                        color: $white;
                                        border: 1px solid $theme-1;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.product-single{
        .product-details{
            .left{
                .img{
                    border: 1px solid $gray2;
                    margin-bottom: 20px;
                    img{
                        height: 270px;
                        width: 270px;
                        max-width: 100%;
                        object-fit: contain;
                    }
                }
            }
            .right{
                .model{
                    font-size: 14px;
                    color: $gray-5;
                    margin-top: 10px;
                    display: block;
                    text-decoration: none;
                }
                .title{
                    font-size: 24px;
                    font-weight: 500;
                    margin-bottom: 15px;
                }
                .rating{
                    margin: 15px 0;
                    i{
                        font-size: 12px;
                        color: $black-2;
                    }
                    .star{
                        color: $black-9;
                        font-size: 12px;
                    }
                }
                .price{
                    margin-bottom: 15px;
                    font-size: 18px;
                    .new{
                        color: $theme;
                        font-weight: 600;
                        margin-right: 10px;
                    }
                    .old{
                        color: $gray-5;
                        text-decoration: line-through;
                    }
                }
                .desc{
                    color: $gray-8;
                    margin: 20px 0;
                    font-size: 14px;
                }
                .size, .type{
                    a{
                        text-decoration: none;
                        color: $black-2e;
                        font-weight: 600;
                        margin-left: 7px;
                    }
                }
                .colors{
                    margin: 20px 0;
                    .color{
                        height: 20px;
                        width: 20px;
                        border: 2px solid transparent;
                        display: inline-block;
                        margin-right: 7px;
                        transition: all .4s ease;
                        &:hover{
                            transition: all .4s ease;
                            border: 2px solid $black-2;
                        }
                    }
                }
                .quantity{
                    margin-top: 20px;
                    display: flex;
                    .inc, .dec, .form-control{
                        height: 42px;
                        border: 1px solid $gray2;
                    }
                    .inc, .dec{
                        width: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-decoration: none;
                        font-weight: 600;
                        color: $black-2e;
                    }
                    .form-control{
                        width: 80px;
                        border-radius: 0;
                        text-align: center;
                        box-shadow: none;
                    }
                }
                .btn-group{
                    margin: 30px 0;
                    .cart-btn{
                        border: 1px solid $black-2e;
                        background-color: transparent;
                        border-radius: 4px;
                        padding: 10px 20px;
                        transition: all .4s;
                        &:hover{
                            transition: all .4s;
                            background-color: $theme-1;
                            color: $white;
                            border: 1px solid $theme-1;
                        }
                    }
                }
                .social-links{
                    display: flex;
                    align-items: center;
                    span{
                        font-weight: 500;
                        display: inline-block;
                    }
                    a{
                        text-decoration: none;
                        color: $black-2e;
                        margin-left: 10px;
                        display: inline-block;
                        &:hover{
                            i{
                                transition: all .4s;
                                color: $theme-1;
                            }
                        }
                        i{
                            transition: all .4s;
                            font-size: 28px;
                        }
                    }
                }
                .policy{
                    margin: 30px 0;
                    padding: 30px;
                    border-top: 1px solid $gray2;
                    border-bottom: 1px solid $gray2;
                    .each{
                        display: flex;
                        align-items: center;
                        margin-bottom: 10px;
                        &:last-child{
                            margin-bottom: 0;
                        }
                        .icon{
                            i{
                                font-size: 22px;
                            }
                        }
                        .text{
                            color: $black-2;
                            font-size: 14px;
                            margin-left: 10px;

                        }
                    }
                }
            }
            .product-tab{
                .header{
                    padding-bottom: 5px;
                    border-bottom: 1px solid $gray2;
                    .nav-link{
                        display: inline-block;
                        text-decoration: none;
                        text-transform: uppercase;
                        color: $black-2;
                        margin-right: 20px;
                        font-weight: 500;
                        transition: all .4s;
                        padding: 0;
                        &:hover{
                            transition: all .4s;
                            color: $theme;
                        }
                        &.active{
                            background-color: $white;
                            transition: all .4s;
                            color: $theme;
                        }
                    }
                }
                .tab-content{
                    margin-top: 20px;
                    height: auto;
                    min-height: 259px;
                    .description{
                        padding: 20px;
                        border: 1px solid $gray2;
                        color: $gray-8;
                        font-size: 14px;
                        line-height: 1.8;
                    }
                    .reviews{
                        padding: 20px;
                        border: 1px solid $gray2;
                        .user{
                            display: flex;
                            .info{
                                padding: 10px 20px;
                                margin-left: 20px;
                                border: 1px solid $gray2;
                                position: relative;
                                &:before{
                                    background: #fff;
                                    border-bottom: 1px solid #ddd;
                                    border-left: 1px solid #ddd;
                                    content: "";
                                    display: block;
                                    height: 10px;
                                    left: -6px;
                                    position: absolute;
                                    top: 10px;
                                    transform: rotate(45deg);
                                    width: 10px;
                                }
                                .rating{
                                    span{
                                        font-size: 12px;
                                        i{
                                            font-size: 12px;
                                        }
                                    }
                                }
                                .date{
                                    font-size: 14px;
                                    margin-top: 10px;
                                    span{
                                        font-size: 18px;
                                    }
                                }
                                .text{
                                    font-size: 14px;
                                    margin-top: 20px;
                                    line-height: 1.8;
                                }
                            }
                        }
                        .review-text, .rating-text{
                            margin-top: 20px;
                            .title{
                                font-size: 18px;
                            }
                            .text{
                                font-size: 14px;
                                color: $gray-5;
                                margin-top: 10px;
                            }
                            .rating-star{
                                font-size: 12px;
                                margin-top: 7px;
                                .star{
                                    color: $gray-8;
                                }
                            }
                        }
                        .contact-form{
                            margin-top: 20px;
                            .from-group{
                                .form-control{
                                    width: 100%;
                                    border: 1px solid #ddd;
                                    padding: 0 10px;
                                    height: 40px;
                                }
                                textarea{
                                    .form-control{
                                        height: 140px;
                                    }
                                }
                            }
                        }
                    }
                    .shipping-policy{
                        .title{
                            font-size: 24px;
                            margin-bottom: 20px;
                        }
                        .text{
                            font-size: 14px;
                            color: $gray-8;
                            line-height: 1.8;
                            padding-right: 40px;
                        }
                        .list{
                            margin: 15px 0;
                            li{
                                margin-bottom: 5px;
                            }
                        }
                    }
                    .size-chart{
                        transition: all .4s ease;
                        &.active{
                            transition: all .4s ease;
                            visibility: visible;
                            width: 100%;
                            opacity: 1;
                            height: auto;
                        }
                        .title{
                            font-size: 24px;
                            margin-bottom: 20px;
                        }
                        .table{
                            td{
                                color: $gray-5;
                            }
                        }
                    }
                }
            }
            .products{
                margin-top: 60px;
                .heading-title{
                    font-size: 30px;
                    font-weight: 600;
                    padding-bottom: 10px;
                    border-bottom: 1px solid $gray2;
                    margin-bottom: 30px;
                    position: relative;
                    &:after{
                        content: "";
                        background-color: #ff4545;
                        height: 2px;
                        width: 100px;
                        display: block;
                        position: absolute;
                        top: 54px;
                    }
                }
                .product-items{
                    .swiper{
                        &:hover{
                            .swiper-button-prev, .swiper-button-next{
                                transition: all .4s ease;
                                opacity: 1;
                                visibility: visible;
                                pointer-events: initial;
                            }
                        }
                        .swiper-button-prev, .swiper-button-next{
                            color: $black-2;
                            background-color: $white-2;
                            width: 30px;
                            height: 30px;
                            opacity: 0;
                            visibility: hidden;
                            pointer-events: none;
                            transition: all .4s ease;
                            border-radius: 50%;
                            &:hover{
                                transition: all .4s ease;
                                color: $theme;
                                background-color: $theme;
                                &:after{
                                    color: $white;
                                }
                            }
                            &:after{
                                font-size: 14px;
                                font-weight: 600;
                                color: $gray-4;
                            }
                        }
                        .swiper-button-prev{
                            left: 30px;
                            top: 48%;
                        }
                        .swiper-button-next{
                            right: 30px;
                            top: 48%;
                        }
                        .swiper-slide-active{
                            .product{
                                border-left: none;
                            }
                        }
                        .product{
                            text-align: center;
                            border-left: 1px solid $gray2;
                            margin-bottom: 50px;
                            position: relative;
                            &:before{
                                display: block;
                                background-color: $theme-2;
                                color: $white;
                                font-weight: 600;
                                padding: 0px 8px;
                                position: absolute;
                                left: 30px;
                                top: 0;
                                z-index: 1;
                            }
                            &.new{
                                &:before{
                                    content: 'New';
                                }
                            }
                            &.sold{
                                &:before{
                                    content: 'sold';
                                }
                            }
                            &:hover{
                                .img{
                                    .first-img{
                                        transition: all .4s ease;
                                        opacity: 0;
                                    }
                                    .second-img{
                                        transition: all .4s ease;
                                        opacity: 1;
                                        transform: scale(1.1);
                                    }
                                    .actions{
                                        transition: all .4s;
                                        visibility: visible;
                                        opacity: 1;
                                        pointer-events: initial;
                                        top: 0;
                                    }
                                }
                            }
                            .img{
                                display: block;
                                position: relative;
                                overflow: hidden;
                                .second-img{
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    opacity: 0;
                                }
                                img{
                                    transition: all .4s ease;
                                }
                                .actions{
                                    position: absolute;
                                    top: 10px;
                                    right: 20px;
                                    visibility: hidden;
                                    opacity: 0;
                                    pointer-events: none;
                                    transition: all .4s;
                                    .action{
                                        background-color: $gray3;
                                        border-radius: 50%;
                                        height: 40px;
                                        width: 40px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        color: $black-2e;
                                        transition: all .4s;
                                        margin-bottom: 10px;
                                        text-decoration: none;

                                        &:hover{
                                            transition: all .4s;
                                            background-color: $theme;
                                            color: $white;
                                        }
                                        i{
                                            font-size: 20px;
                                            font-weight: bold;
                                        }
                                    }
                                }
                            }
                            .category{
                                font-size: 14px;
                                color: $black-2;
                                margin-top: 10px;
                                display: block;
                                text-decoration: none;
                            }
                            .title{
                                color: $black-2e;
                                font-weight: 600;
                                transition: all .4s;
                                margin-top: 10px;
                                display: block;
                                text-decoration: none;
                                &:hover{
                                    transition: all .4s;
                                    color: $theme;
                                }
                            }
                            .rating{
                                margin: 15px 0;
                                i{
                                    font-size: 14px;
                                    color: $black-2;
                                }
                                .star{
                                    color: $black-9;
                                }
                            }
                            .price{
                                margin-bottom: 15px;
                                .new{
                                    color: $theme;
                                    font-size: 15px;
                                    font-weight: 600;
                                    margin-right: 10px;
                                }
                                .old{
                                    font-size: 14px;
                                    color: $black-9;
                                    text-decoration: line-through;
                                }
                            }
                            .cart-btn{
                                border: 1px solid $black-2e;
                                background-color: transparent;
                                text-transform: uppercase;
                                border-radius: 8px;
                                padding: 7px 10px;
                                font-size: 14px;
                                transition: all .4s;
                                &:hover{
                                    transition: all .4s;
                                    background-color: $theme-1;
                                    color: $white;
                                    border: 1px solid $theme-1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
