$theme: #ff4545;
$theme-1: #ff1f1f;
$theme-2: #FF2F2F;
$theme-3: #ff6a6a;
$black-2: #212121;
$black-2e: #2e2e2e;
$black-6e: #6c6c6c;
$black-5: #5a5a5a;
$black-op-7: rgba(0, 0, 0, 0.075);
$black-op-2: rgba(0, 0, 0, 0.2);
$white-op-9: rgba(255, 255, 255, 0.9);
$black-9: #999999;
$gray: #e8e8e8;
$gray-e1: #e1e1e1;
$gray2: #ebebeb;
$gray3: #ced4da;
$gray-4: #8c8c8c;
$gray-5: #666666;
$gray-6: #f6f7f7;
$gray-6c: #6C757D;
$gray-7: #757575;
$gray-8: #535353;
$gray-9: #e7e8e8;
$white: #ffffff;
$white-2: #f8f8f8;
$white-3: #f4f4f4;
$blue: #0084c5;
