$theme: #ff4545;
$theme-1: #ff1f1f;
$theme-2: #FF2F2F;
$black-2: #212121;
$black-2e: #2e2e2e;
$black-6e: #6c6c6c;
$black-op-7: rgba(0, 0, 0, 0.075);
$black-9: #999999;
$gray: #e8e8e8;
$gray2: #ebebeb;
$gray3: #ced4da;
$white: #ffffff;
