@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import "variables";
@import "global";

body{
    font-family: 'Poppins', sans-serif;
    color: $black-2e;
    overflow-x: hidden;
    @import "pages/header";
    @import "pages/home";
    @import "pages/footer";
}
